<!DOCTYPE html>
<html lang="fr" class="h-full">
  <head>
    <title>Bentosportfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="antialiased text-gray-100 bg-black text-base flex flex-col h-full">
    <!-- Navbar -->
    <%= render "layouts/navbar" %>

    <%= yield %>

    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>
